[Desktop Entry]
Version=1.0
Name=JS Bin
Comment=JS Bin Offline REPL
Exec=node '/home/ken/Google Drive/js-bin/app.js' 
Icon=/home/ken/Google Drive/js-bin/js.png
Terminal=false
Type=Application
Categories=Utility;Application;
